@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

/* Body */

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  background-color: rgb(0, 0, 0, 0.6);
  color: rgba(255, 255, 255, 0.850);
  overflow-x: hidden;
}

/* Top header with job title */

.top-header-border {
  width: 100vw; /* Ensures full viewport width */
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  background: #000;
  border-top: 4px solid rgb(255, 255, 255); /* Or your highlight color */
  box-shadow: 0 2px 5px rgba(92, 91, 91, 0.25);
  z-index: 999;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  background: rgb(0, 0, 0, 0.6);
  color: #fff;
  font-size: 1.25em;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-bottom: 1px solid rgb(255, 255, 255); /* subtle tech accent */
}

.header-links a {
  margin-left: 1.5em;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 0.85em;
  font-weight: 500;
  text-transform: none;
  transition: color 0.3s ease;
}

.header-links a:hover {
  color: rgb(255, 255, 255);
}

